#Vagrant
.vagrant/
/vagrant_ansible_inventory_*
/provision/ansible/roles/
/provision/ansible/credentials/

#Bower
bower_components

#Node modules
node_modules

#Sass
.sass-cache

#composer
/vendor
#Typo3 7.x
/web/typo3temp/
/web/typo3
/web/fileadmin/_temp_/

#Typo3 6.x
/typo3_src/
/typo3conf/
/typo3temp/
/uploads/
/fileadmin/
