#Vagrant
.vagrant/
/vagrant_ansible_inventory_*
/provision/ansible/roles/
/provision/ansible/credentials/

#Bower
bower_components

#Node modules
node_modules

#Sass
.sass-cache

#composer
/vendor
/web/typo3temp/
/web/typo3
/web/fileadmin/_temp_/
/typo3_src/
